{% extends 'admin/layout/layout.html' %}
{% block content %}
<div class="page-content">
	<div class="page-content-area">
		<div class="row">
			<div id="container">
				<div class="col-xs-12">
					<form id="form1" action="/admin_finance" method="post" class="form-inline" enctype="multipart/form-data">
						发货时间：<input type="text" name="start" id="starts" value="{% if start %}{{start}}{% endif %}" class="form-control hasDatepicker datepicker" placeholder="{{ start }}">
						-<input type="text" name="stop" id="stops" value="{% if stop %}{{stop}}{% endif %}" class="form-control hasDatepicker datepicker" placeholder="{{ stop }}">
						(可选)大促时间：<input type="text" name="start_cu" id="start_cu" value="{% if start_cu %}{{start_cu}}{% endif %}" class="form-control date_time" placeholder="YYYY-MM-DD HH:ii:ss">
						-<input type="text" name="stop_cu" id="stop_cu" value="{% if stop_cu %}{{stop_cu}}{% endif %}" class="form-control date_time" placeholder="YYYY-MM-DD HH:ii:ss">
						<input type="hidden" name="output" id="output_all">
						<button onclick="output(3)" class="btn btn-sm btn-success tooltip-info" data-rel="tooltip" data-placement="查询" title="一般情况">查询</button>
					</form>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-12" style="margin-top: 15px;">
						<h3 class="header smaller lighter green">
							<i class="ace-icon fa fa-bullhorn"></i>
							收入及成本统计
						</h3>
						<div class="tabbable">
							<ul class="nav nav-tabs" id="myTab">
								<li class="active">
									<a data-toggle="tab" href="#total">
										汇总
									</a>
								</li>
								<li class="">
									<a data-toggle="tab" href="#detail">
										明细
									</a>
								</li>
							</ul>
							<div class="tab-content">
								<div id="total" class="tab-pane fade active in" style="width: 100%;">
									<div class="input-group center" style="float:right;width:20px;height:20px;background-color:white;border-top:white;margin-bottom:5px;">
										<button onclick="output(2)" class="btn btn-info btn-success" data-toggle="modal" data-target=".loadings">汇总导出</button>
									</div>
									<div class="row">
										<table id="table1" class="table table-striped table-bordered table-hover">
											<tr>
												{% for title in tab_title %}
												<th class="tooltip-info" title="{{ title }}">{{ title }}
												</th>
												{% endfor %}
											</tr>
											{% for key,cont in page_data.contents %}
											{% if cont.供应商!='' %}
											<tr>
												<td class="tooltip-info" title="{{ cont.供应商 }}">{{cont.供应商 | slice(0,3)}}</td>
												<td class="tooltip-info" title="{{ cont.仓库 }}">{{cont.仓库 | slice(0,3)}}</td>
												<td class="tooltip-info" title="{{ cont.支付方式 }}">{{cont.支付方式| slice(0,3)}}</td>
												<td>{{cont.采购模式}}</td>
												<td>{{cont.销售金额|number_format(0, '3', ',')}}</td>
												<td>{{cont.成交金额|number_format(0, '3', ',')}}</td>
												<td>{{cont.现金券|number_format(0, '3', ',')}}</td>
												<td>{{cont.活动券|number_format(0, '3', ',')}}</td>
												<td>{{cont.减免金额|number_format(0, '3', ',')}}</td>
												<td>{{cont.支付金额|number_format(0, '3', ',')}}</td>
												<td>{{(cont.支付金额 - cont.运费) |number_format(0, '3', ',')}}</td>
												{% if cont.税率 ==0 %}
													<td>{{cont.含税销售收入|number_format(0, '3', ',')}}</td>
													<td>{{cont.运费|number_format(0, '3', ',')}}</td>
													<td>{{cont.运费|number_format(0, '3', ',')}}</td>
													<td>{{cont.含税成本|number_format(0, '3', ',')}}</td>
													<td>{{cont.含税成本|number_format(0, '3', ',')}}</td>
													<td>0</td>
												{% else %}
													<td>{{(cont.含税销售收入/(1+cont.税率))|number_format(0, '3', ',')}}</td>
													<td>{{cont.运费|number_format(0, '3', ',')}}</td>
													<td>{{(cont.运费/1.17)|number_format(0, '3', ',')}}</td>
													<td>{{cont.含税成本|number_format(0, '3', ',')}}</td>
													<td>{{(cont.含税成本/(1+cont.税率))|number_format(0, '3', ',')}}</td>
													<td>{{(cont.含税成本 - (cont.含税成本/(1+cont.税率)))|number_format(0, '3', ',')}}</td>
												{% endif %}
											</tr>
											{% endif %}
											{% endfor %}
										</table>
									</div>
									{% if page_data.contents is iterable %}
									{{ include('/admin/public/page.html') }}
									{% endif %}
								</div>
								<div id="detail" class="tab-pane fade" style="height: 50px;">
									<div class="input-group center" style="float:right;width:20px;height:50px;background-color:white;border-top:white;">
										<button onclick="output(1)" class="btn btn-info btn-success" id="outputs" data-toggle="modal" data-target=".loadings">明细导出</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div  id="moda" class="modal fade in loadings" tabindex="-1" data-backdrop="loadings" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<p>文件导出需要些许时间(导出一天的数据需要10分钟左右),勿盲目等待。</p>
					</div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn">关闭</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--[if !IE]> -->
<script src="/js/jquery/jquery-2.1.1.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="/js/jquery/jquery-1.11.1.min.js"></script>
<![endif]-->

<!--[if !IE]> -->
<script type="text/javascript">
	window.jQuery || document.write("<script src='/js/jquery.min.js'>"+"<"+"/script>");
</script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/js/bootstrap/3.2.0/bootstrap.min.js"></script>
<!--[if lte IE 8]>
<script src="/js/excanvas.min.js"></script>
<![endif]-->

<script src="/js/jquery-ui.custom.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>

<script src="/js/ace-elements.min.js"></script>
<script src="/js/ace.min.js"></script>

<script src="/js/date-time/moment.min.js"></script>

<script src="/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/js/jquery.mask.min.js"></script>
<script src="/js/bootstrap-modalmanager.js"></script>
<script type="text/javascript">
	jQuery(function($) {
		$("#starts").datepicker({
			showOtherMonths: true,
			selectOtherMonths: false,
			format: "yyyy-mm-dd"
		});

		$("#stops").datepicker({
			showOtherMonths: true,
			selectOtherMonths: false,
			format: "yyyy-mm-dd"
		});
		
		$('#start_cu').mask('0000-00-00 00:00:00');
		$('#stop_cu').mask('0000-00-00 00:00:00');
	});

	//导出
	function output(data){
		//明细导出	
		if(data==1){
			if($('#starts').val() && $('#stops').val()){
				$.post(
					'/admin_finance/bakSys',
					{start:$('#starts').val(),stop:$('#stops').val(),start_cu:$('#start_cu').val(),stop_cu:$('#stop_cu').val()}
				);
			}else{
				alert('没有选择时间');
			}
		}else if(data==2){
			//汇总导出
			if($('#starts').val() && $('#stops').val()){
				$.post(
				'/admin_finance/ZYTotal',
				{start:$('#starts').val(),stop:$('#stops').val()}
				);
			}else{
				alert('没有选择时间');
			}
		}else{
			$("#output_all").val('');
			$("#form1").submit();
		}
	}
</script>
{% endblock %}
