{%   extends "admin/layout/layout.html" %}
{%   block content %}
<div class="page-content col-xs-10">
	<div class="page-content-area">
		<div class="row">
			<div id="container">
				<div class="page-header">
					<form id="form1" action="/drill_manage" method="post" class="form-inline">
						指标：{{ key.key_cn_name}}
						<a href="/wiki/#!uncategory/{{key.key_en_name}}.md">wiki</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;观察周期：
						<select id="time_type" name="time_type">
							<option value="1" {% if time_type == 1 %} selected {% endif %}>按日</option>
							<option value="2" {% if time_type == 2 %} selected {% endif %}>按周</option>
							<option value="3" {% if time_type == 3 %} selected {% endif %}>按月</option>
						</select>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可选维度：
						<select id="demension" name="demension">
							{% for dem in demension %}
							<option value="{{dem.id}}" {% if keyId == dem.id %} selected {% endif %}>{{dem.demension_cn_name}}</option>
							{% endfor %}
						</select>
						<input type="submit" value="查询"/>
					</form>
				</div>
				<div id="main" style="height:400px"></div>
				<div class="col-md-12">
					<table id="sample-table-2" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>时间</th>
								<th>{{ key.demension_cn_name }}</th>
								<th>{{ key.key_cn_name }}</th>
							</tr>
						</thead>
						<tbody>
							{% for data in datas %}
							<tr>
								<td class="center">{{ data.start_time }}</td>
								<td>{{ data.demension }}</td>
								<td>{{ data.values }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!--[if !IE]> -->
<script src="/js/jquery/jquery-2.1.1.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery/jquery-1.11.1.min.js"></script>
<![endif]-->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='/js/jquery.min.js'>"+"<"+"/script>");
</script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

<!-- page specific plugin scripts -->
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>

<!-- ace scripts -->
<script src="/js/ace-elements.min.js"></script>
<script src="/js/ace.min.js"></script>
<script src="/js/echarts/build/dist/echarts.js"></script>
<script type="text/javascript">
            jQuery(function($) {
                var oTable1 = 
                $('#sample-table-2')
                .dataTable( {
                    bAutoWidth: false,
                    "aoColumns": [
                      null, null,null
                    ],
                    "aaSorting": [],
                } );
            
            
                $(document).on('click', 'th input:checkbox' , function(){
                    var that = this;
                    $(this).closest('table').find('tr > td:first-child input:checkbox')
                    .each(function(){
                        this.checked = that.checked;
                        $(this).closest('tr').toggleClass('selected');
                    });
                });            
            })
</script>
<script type="text/javascript">
	// 路径配置
    require.config({
    	paths: {
            echarts: '/js/echarts/build/dist'
        }
    });
    // 使用
    require(
        [
        	'echarts',
            'echarts/chart/line', // 使用柱状图就加载bar模块，按需加载
            'echarts/chart/bar',
        ],
        function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main'))
                myChart.setTheme('infographic'); 
                
                var option = {
    				tooltip : {
        				trigger: 'axis'
    				},
    				legend: {
        				data:['Total']
    				},
				    toolbox: {
				        show : true,
				        feature : {
				            mark : {show: false},
				            dataZoom : {show: true},
				            dataView : {show: true},
				            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
				            restore : {show: true},
				            saveAsImage : {show: true}
				        }
				    },
				    calculable : true,
				    dataZoom : {
				        show : true,
				        realtime : true,
				        start : 80,
				        end : 100
				    },
				    xAxis : [
				        {
				            type : 'category',
				            boundaryGap : false,
				            data : ['',''],
				        }
				    ],
				    yAxis : [
				        {
				            type : 'value'
				        }
				    ],
				};
				//通过Ajax获取数据
	            $.ajax({
	                type: "post",
	                async: true, //同步执行
	                url: "/drill_manage/jq",
	                data: {"time_type":$("#time_type").val(),"demension":$("#demension").val()},
	                dataType: "json", //返回数据形式为json
	                success: function (result) {
	                	console.log(result);
	                    if (result) {
	                        option.xAxis[0].data = result.timeline;
	                        option.series = function(){
     							var serie=[];
    							for(var i = 0;i < result.series.length;i++){
	      							var item={
	            						name: result.series[i].name,
	            						type: 'line',
	            						data: result.series[i].value
	        						}
	      							serie.push(item);
   								}
   								return serie;
							}();
	                        option.legend.data = result.legend;
	                        myChart.hideLoading();
	                        myChart.setOption(option);
	                    }
	                },
	                error: function (errorMsg) {
	                    alert("请求数据失败!");
	                }
	            });

                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
</script>
{% endblock %}