{% extends 'admin/layout/layout.html' %}
{% block content %}
<div class="page-content">
    <div class="page-content-area">
        <div class="row">
            <form role="form" class="form-horizontal" id="form" method="post">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label for="title" class="col-sm-1 control-label">标题</label>
                        <div class="col-sm-11">
                            <input type="text" id="title" class="form-control">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="content" class="col-sm-1 control-label">内容</label>
                        <div class="col-sm-11">
                            <script id="editor" type="text/plain"></script>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">分类</h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <select class="chosen-select" id="cate" data-placeholder="分类" style="display: none;">
                                        {% for cate in data.cate_list %}  
                                        <option value="{{ cate.id }}" {% if
                                                cate.id== data.article.category %}
                                                selected {% endif %}>{{ cate.name }}</option> 
                                        {% endfor %} 
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">标签</h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <select class="form-control" id="tag" multiple="multiple">
										{{data.article.tag}}
                                        {% for tag in data.tag_list %}  
                                        <option value="{{ tag.id }}" {% if tag.id in  data.article.tag %}selected{% endif %}>
											{{ tag.name }}
										</option> 
                                        {% endfor %} 
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">SEO</h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <input type="text" id="post_keyword"
                                    placeholder="默认为文章标题">
                                    检测
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">发布</h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <ul class="list-unstyled spaced">
                                        <li class="text-info bigger-120 light-blue">
											<div class="form-group">
												<label for="status"
                                                    class="col-sm-4 control-label">
													<i class="ace-icon fa fa-angle-right bigger-110"></i>
													前台顺序:
											</label>
												<div class="col-sm-4">
                                                <input type="text"
                                                id="post_order"
                                                class="form-control"
                                                placeholder="{{data.show_num}}">
												</div>
                                        </li>
										<li class="hr"></li>
                                        <li class="text-info bigger-120 light-blue">
											<div class="form-group">
												<label for="status"
                                                    class="col-sm-4 control-label">
													<i class="ace-icon fa fa-angle-right bigger-110"></i>
												文章状态:
												</label>
												<div class="col-sm-4">
													<select id="status" class="form-control">
														{% for status,v in data.status_list %}
														<option
                                                        value="{{status}}" {%
                                                        if 1 == status %}selected{% endif %}>{{v}}</option> 
														{% endfor %}
													</select>
												</div>
											</div>
                                        </li>
										<li class="hr"></li>
                                        <li class="text-info bigger-120 light-blue">
											<div class="form-group">
												<label for="status" class="col-sm-3 control-label">
												</label>
												<div class="col-sm-4">
                                                <button type="button" class="btn btn-info btn-sm" onclick="input(1)">
                                                    提交发布
                                                </button>
												</div>
												<div class="col-sm-4">
                                                <button type="button" class="btn btn-info btn-sm" onclick="input(2)">
                                                    存为草稿
                                                </button>
												</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</div>
<!--[if !IE]> -->
<script src="/js/jquery/jquery-2.1.1.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
    <script src="/js/jquery/jquery-1.11.1.min.js"></script>
<![endif]-->

<!--[if !IE]> -->
<script type="text/javascript">
window.jQuery || document.write("<script src='/js/jquery.min.js'>"+"<"+"/script>");
</script>
<!-- <![endif]-->
<!--[if IE]>
    <script type="text/javascript">
    window.jQuery || document.write("<script src='/js/jquery1x.min.js'>"+"<"+"/script>");
    </script>
<![endif]-->
<script type="text/javascript">
if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/js/bootstrap/3.2.0/bootstrap.min.js"></script>
<!--[if lte IE 8]>
    <script src="/js/excanvas.min.js"></script>
<![endif]-->
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery-ui.custom.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<script src="/js/ace-elements.min.js"></script>
<script src="/js/ace.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript">
 $(document).ready(function(){  
     var ue = UE.getEditor('editor', { 	
         serverUrl:"{{data.ueditor_home}}",
		 charset:"utf-8",
		 initialFrameWidth:'100%',
		 initialFrameHeight:450, 
		 autoFloatEnabled: false,
		 elementPathEnabled: false, 
         });
     //ue.execCommand('inserthtml', '{{data.article.content}}');
     $('.chosen-select').chosen({allow_single_deselect:true}); 
     $(window).off('resize.chosen')
         .on('resize.chosen', function() {
             $('.chosen-select').each(function() {
                 var $this = $(this);
                 $this.next().css({'width': $this.parent().width()});
             })
         }).trigger('resize.chosen');
 });

function input(s){
	var title = $('#title').val();
	var ue = UE.getEditor('editor');
	//var content = ue.getContentTxt();
	var content = ue.getContent();
    var exp = /src="(\S+)"/ig;
    var str_arr = [];
    var img_str = '';
    while((str_arr = exp.exec(content))!= null){
        if(str_arr[1]){
            img_str+=str_arr[1]+',';
        }
    }
	var cate = $('#cate').val();
	var tag = $('#tag').val();
	var order = $('#post_order').val();
	var keyword = $('#post_keyword').val();
	if(s == 2){
	var status = 2;	
	}else{
	var status = $('#status').val();
	}
    
	$.post(
		"{{data.to_action}}",
		{post_title:title,post_content:content,post_cate:cate,post_tag:tag,post_status:status,post_order:order,post_keyword:keyword,post_img:img_str},
		function(d){
            var code = d.code;
            var msg = d.msg;
            if(code==2){
               alert(msg);
               return false;
            }else if(code==1){
               alert(msg);
			  window.location.href= "{{data.to_refer}}"
            }
		},"json"
	);
}
</script>
{% endblock %}
