{% extends 'admin/layout/layout.html' %}
{% block content %}
<div class="page-content">
	<div class="page-content-area">
		<div class="row">
			<div id="container">
			<div class="col-sm-12">
				<!--<form action="/admin_flow/allPvUv" method="post" class="form-horizontal" id="form1">-->
				<form class="form-horizontal">
					<!--<div class="row">-->
						<!--<div class="col-xs-9" style="">-->
							<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label no-padding-right" for="url">url</label>-->
								<!--<div class="col-sm-9">-->
									<!--<input type="text" id="url" name="url" value="{% if url %}{{url}}{% endif %}" class="form-control" placeholder="{{ url }}">-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="col-xs-3" style="height: 30px;margin-bottom: 15px;">-->
							<!--<div class="input-group input-group-sm">-->
								<!--<input type="submit" value="查询" onclick="putout(1)" class="btn btn-info btn-success">-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<input type="hidden" name="start" id="start">
					<input type="hidden" name="stop" id="stop">
					<input type="hidden" name="yester" id="yester">
					<input type="hidden" name="output" id="output">
				</form>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-8" style="margin-left: 15%;margin-top: 15px;">
					<h3 class="header smaller lighter green">
						<i class="ace-icon fa fa-bullhorn"></i>
						历史数据
					</h3>
					<div class="tabbable">
						<ul class="nav nav-tabs" id="myTab">
							<li class="active">
								<a data-toggle="tab" href="#pv">
									PV
								</a>
							</li>
							<li class="">
								<a data-toggle="tab" href="#uv">
									UV
								</a>
							</li>
						</ul>
						<div class="tab-content">
							<!--style="min-width: 600px; min-height: 400px;-->
							<div id="pv" class="tab-pane active"></div>
							<div id="uv" class="tab-pane"></div>
						</div>
					</div>
				</div>
			</div>
				<div class="col-xs-12">
					<div class="col-xs-8" style="margin-left: 15%;margin-top: 5px;">
						<h3 class="header smaller lighter green">
							<i class="ace-icon fa fa-bullhorn"></i>
							历史信息
						</h3>
						<div class="tabbable">
							<ul class="nav nav-tabs" id="myTab1">
								<li class="active">
									<a data-toggle="tab" href="#norm">
										<div class="row">
											<div class="col-xs-6" style="width: 700px;">
												<div class="input-group input-group-sm" style="float:left;width: 150px;">
													<input type="button" id="yesterday" name="yesto" value="昨天" onclick="yesterday(1)">
												</div>
												<div class="input-group input-group-sm" style="float:left;width: 150px;">
													<input type="text" id="starts" value="{% if start %}{{start}}{% endif %}" class="form-control hasDatepicker datepicker" placeholder="{{ start }}">
												</div>
												<div class="input-group input-group-sm" style="float:left;width: 150px;margin-left: 20px;">
													<input type="text" id="stops" value="{% if stop %}{{stop}}{% endif %}" class="form-control hasDatepicker datepicker" placeholder="{{ stop }}">
												</div>
												<div class="input-group input-group-sm" style="float:left;width: 50px;margin-left: 10px;">
													<input type="button" value="查询" onclick="putout(1)" class="btn btn-info btn-success">
												</div>
												<div class="input-group input-group-sm" style="float:left;width: 50px;margin-left: 20px;">
													<input type="button" value="导出" onclick="putout(2)" class="btn btn-info btn-success">
												</div>
											</div>
										</div>
									</a>
								</li>
							</ul>
							<div class="tab-content">
								<div id="norm" class="tab-pane fade active in">
									<div class="row">
										<table id="table1" class="table table-striped table-bordered table-hover">
											<thead>
											<tr>
												<th>日期</th>
												<th>渠道</th>
												<th>UV</th>
												<th>PV</th>
												<th class="hidden-480">提袋率</th>
												<th class="hidden-480">PV转化率</th>
												<th class="hidden-480">UV转化率</th>
											</tr>
											</thead>
											<!--<tbody>-->
											<!--{% for key,va in table %}-->
												<!--{% for skey,suv in va%}-->
													<!--<tr>-->
														<!--<td>{{ key }}</td>-->
														<!--<td>{{ skey }}</td>-->
														<!--<td>{{ suv.uv }}</td>-->
														<!--<td>{{ suv.pv }}</td>-->
														<!--<td>{{ suv.take_rate }}</td>-->
														<!--<td>{{ suv.pv_rate }}</td>-->
														<!--<td>{{ suv.uv_rate }}</td>-->
													<!--</tr>-->
												<!--{% endfor %}-->
											<!--{% endfor %}-->
											<!--</tbody>-->
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--[if !IE]> -->
<script src="/js/jquery/jquery-2.1.1.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="/js/jquery/jquery-1.11.1.min.js"></script>
<![endif]-->

<!--[if !IE]> -->
<script type="text/javascript">
	window.jQuery || document.write("<script src='/js/jquery.min.js'>"+"<"+"/script>");
</script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/js/bootstrap/3.2.0/bootstrap.min.js"></script>
<!--[if lte IE 8]>
<script src="/js/excanvas.min.js"></script>
<![endif]-->
<!--<script src="/assets/js/jquery-ui.min.js"></script>-->
<script src="/js/jquery-ui.custom.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>
<script src="/js/dataTables.tableTools.js"></script>

<script src="/js/ace-elements.min.js"></script>
<script src="/js/ace.min.js"></script>
<script src="/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/js/highcharts/highcharts.js"></script>
<script src="/js/highcharts/modules/exporting.js"></script>

<script type="text/javascript">
var pv,uv;
jQuery(function($) {
	$("#starts").datepicker({
		showOtherMonths: true,
		selectOtherMonths: false,
		format: "yyyy-mm-dd"
	});

	$("#stops").datepicker({
		showOtherMonths: true,
		selectOtherMonths: false,
		format: "yyyy-mm-dd"
	});

	Highcharts.setOptions({
		lang: {
			downloadJPEG: "下载JPEG 图片" ,
			downloadPNG: "下载PNG 图片"  ,
			exportButtonTitle: "导出图片"
		},
		credits: {
			enabled:false
		}
	});

	pv = new Highcharts.Chart({
		chart: {
			renderTo: 'pv',
			type: 'line',
			width:$('#pv').width()
		},
		reflow:true,
		title: {
			x: 0,
			margin: 30,
			align: 'left',
			style:{
				color: '#3E576F',
				fontSize: '18px',
				fontWeight: 800
			},
			text: 'pv'
		},
		subtitle: {
			text: '',
			x: -20
		},
		credits: false,
		xAxis: {
			categories:[],
			title: {
				text:'时间'
			}
		},
		yAxis:{
			title:{
				text:'PV'
			},
			min: 0,
			plotLines: [{
				value: 0,
				width: 1,
				color: '#808080'
			}]
		},
		tooltip: {
			valueSuffix: '个',
			crosshairs: true,
			shared: true
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'top',
			x: -10,
			y: 100,
			borderWidth: 0,
			itemMarginTop: 10
		},
		plotOptions:{
			column:{
				borderWidth: 0,
				pointPadding: 0.1,
				shadow: false
			}
		},
		series: [
//			{
//				name:'总计',
//				data:[]
//			},
			{
				name:'pc',
				data:[]
			},
			{
				name:'wap',
				data:[]
			},
			{
				name:'ios',
				data:[]
			},
			{
				name:'android',
				data:[]
			}
		]
	});

	uv = new Highcharts.Chart({
		chart: {
			renderTo: 'uv',
			type: 'line',
			width:$('#pv').width()
		},
		reflow:true,
		title: {

			x: 0,
			margin: 30,
			align: 'left',
			style:{
				color: '#3E576F',
				fontSize: '18px',
				fontWeight: 800
			},
			text: 'uv'
		},
		subtitle: {
			text: '',
			x: -20
		},
		credits: false,
		xAxis: {
			categories:[],
			title: {
				text:'时间'
			}
		},
		yAxis:{
			title:{
				text:'UV'
			},
			min: 0,
			plotLines: [{
				value: 0,
				width: 1,
				color: '#808080'
			}]
		},
		tooltip: {
			valueSuffix: '个',
			crosshairs: true,
			shared: true
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'top',
			x: -10,
			y: 100,
			borderWidth: 0,
			itemMarginTop: 10
		},
		plotOptions:{
			column:{
				borderWidth: 0,
				pointPadding: 0.1,
				shadow: false
			}
		},
		series: [
//			{
//				name:'总计',
//				data:[]
//			},
			{
				name:'pc',
				data:[]
			},
			{
				name:'wap',
				data:[]
			},
			{
				name:'ios',
				data:[]
			},
			{
				name:'android',
				data:[]
			}
		]
	});

	var dataTable=[];
	$.getJSON(
		'/admin_flow/allPvUvDataTable',
		function(data){
			var i = 0,tmp=[];
			for(var key1 in data.table){
				tmp[i] = [];
				var j=0;
				for(var key2 in data.table[key1]){
					tmp[i][j] = [];
					tmp[i][j].push(key1);
					tmp[i][j].push(key2);
					tmp[i][j].push(data.table[key1][key2].uv);
					tmp[i][j].push(data.table[key1][key2].pv);
					tmp[i][j].push(data.table[key1][key2].take_rate);
					tmp[i][j].push(data.table[key1][key2].pv_rate);
					tmp[i][j].push(data.table[key1][key2].uv_rate);
					j++;
				}
				i++;
			}

			$('#starts').val(data.start);
			$('#stops').val(data.stop);

			for(var k=0;k<tmp.length;k++){
				for(var kk=0;kk<tmp[k].length;kk++){
					dataTable.push(tmp[k][kk]);
				}
			}

			$('#table1').dataTable( {
				bAutoWidth: false,
				//分页
				"aoColumns": [
					{ "bSortable": null },
					null, null,null, null, null,
					{ "bSortable": null }
				],
				"data":dataTable,  //直接页面获取数据
				"searching":false, //隐藏搜索框
				"pageLength": 10 //分页数
				,
				"aoColumnDefs" : [ {
					sDefaultContent : '',
					aTargets : [ '_all' ]
				} ],
				"oLanguage": {
					"sProcessing" : "正在加载中......",
					"sLengthMenu" : "每页显示 _MENU_ 条记录",
					"sZeroRecords" : "没有数据！",
					"sEmptyTable" : "表中无数据存在！",
					"sInfo" : "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
					"sInfoEmpty" : "显示0到0条记录",
					"sInfoFiltered" : "数据表中共为 _MAX_ 条记录",
					"oPaginate" : {
						"sFirst" : "首页",
						"sPrevious" : "上一页",
						"sNext" : "下一页",
						"sLast" : "末页"
					}
				}
			} );
		}
	);
});
$.get(
		'/admin_flow/allPvUvData',
		function(datas){
			var data = $.parseJSON(datas);
			var i= 0,timeLine=[],t_pv=[],t_uv=[],w_pv=[];
			var w_uv=[],m_pv=[],m_uv=[],a_pv=[],a_uv=[];
			var i_pv=[],i_uv=[];
			for(i=0;i<data.t.length;i++){
				timeLine[i] = data.t[i].date;
				t_pv[i] = parseInt(data.t[i].pv);
				t_uv[i] = parseInt(data.t[i].uv);
				w_pv[i] = parseInt(data.w[i].pv);
				w_uv[i] = parseInt(data.w[i].uv);
				m_pv[i] = parseInt(data.m[i].pv);
				m_uv[i] = parseInt(data.m[i].uv);
				a_pv[i] = parseInt(data.a[i].pv);
				a_uv[i] = parseInt(data.a[i].uv);
				i_pv[i] = parseInt(data.i[i].pv);
				i_uv[i] = parseInt(data.i[i].uv);
			}

			pv.xAxis[0].categories=timeLine;
			//pv.series[0].setData(t_pv);
			//pv.series[1].setData(w_pv);
			//pv.series[2].setData(m_pv);
			//pv.series[3].setData(i_pv);
			//pv.series[4].setData(a_pv);
			pv.series[0].setData(w_pv);
			pv.series[1].setData(m_pv);
			pv.series[2].setData(i_pv);
			pv.series[3].setData(a_pv);


			uv.xAxis[0].categories=timeLine;
			//uv.series[0].setData(t_uv);
			//uv.series[1].setData(w_uv);
			//uv.series[2].setData(m_uv);
			//uv.series[3].setData(i_uv);
			//uv.series[4].setData(a_uv);
			uv.series[0].setData(w_uv);
			uv.series[1].setData(m_uv);
			uv.series[2].setData(i_uv);
			uv.series[3].setData(a_uv);
		}
);

//window.onload=function(){
//	setInterval("LoadData()", 300000);
//}
//
//var LoadData = function () {
//	$.post(
//			'/admin_flow/OneUrl',
//			{url:$("#url").val()},
//			function(datas){
//				var data = $.parseJSON(datas);
//				pv.xAxis[0].categories=data.timeLine;
//				pv.series[0].setData(data.pv_img);
//				uv.xAxis[0].categories=data.timeLine;
//				uv.series[0].setData(data.uv_img);
//			}
//	);
//}
function yesterday(id){
	$('#yester').val(id);
}

function putout(type){
//	$('#start').val($('#starts').val());
//	$('#stop').val($('#stops').val());
	if(type==2){
		//$('#output').val(2);
		var start  = $("#starts").val();
		var stop = $("#stops").val();

		var form = $("<form>");
		form.attr('style', 'display:none');
		form.attr('target', '');
		form.attr('method', 'post');
		form.attr('action', "/admin_flow/allPvUvDataTable");

		var input1 = $('<input>');
		input1.attr('type', 'hidden');
		input1.attr('name', 'start');
		input1.attr('value',start);

		var input2 = $('<input>');
		input2.attr('type', 'hidden');
		input2.attr('name', 'stop');
		input2.attr('value', stop);

		var input3 = $('<input>');
		input3.attr('type', 'hidden');
		input3.attr('name', 'yester');
		input3.attr('value', $("#yester").val());

		var input4 = $('<input>');
		input4.attr('type', 'hidden');
		input4.attr('name', 'output');
		input4.attr('value', 2);

		$('body').append(form);
		form.append(input1);
		form.append(input2);
		form.append(input3);
		form.append(input4);
		form.submit();
	}else{
		//$('#output').val(1);
		var Table=[];
		$.post(
			'/admin_flow/allPvUvDataTable',
			{start:$('#starts').val(),stop:$('#stops').val(),yester:$('#yester').val()},
			function(datas){

				var data = $.parseJSON(datas);
				//console.log(data);
				var i = 0,tmp=[];
				for(var key1 in data.table){
					tmp[i] = [];
					var j=0;
					for(var key2 in data.table[key1]){
						tmp[i][j] = [];
						tmp[i][j].push(key1);
						tmp[i][j].push(key2);
						tmp[i][j].push(data.table[key1][key2].uv);
						tmp[i][j].push(data.table[key1][key2].pv);
						tmp[i][j].push(data.table[key1][key2].take_rate);
						tmp[i][j].push(data.table[key1][key2].pv_rate);
						tmp[i][j].push(data.table[key1][key2].uv_rate);
						j++;
					}
					i++;
				}

				$('#starts').val(data.start);
				$('#stops').val(data.stop);

				for(var k=0;k<tmp.length;k++){
					for(var kk=0;kk<tmp[k].length;kk++){
						Table.push(tmp[k][kk]);
					}
				}

				$(function(){
					$('#table1').dataTable( {
						bAutoWidth: true,
						bDestroy: true,
						//分页
						"aoColumns": [
							{ "bSortable": null },
							null, null,null, null, null,
							{ "bSortable": null }
						],
						"data":Table,  //直接页面获取数据
						"searching":false, //隐藏搜索框
						"pageLength": 10 //分页数
						,
						"aoColumnDefs" : [ {
							sDefaultContent : '',
							aTargets : [ '_all' ]
						} ],
						"oLanguage": {
							"sProcessing" : "正在加载中......",
							"sLengthMenu" : "每页显示 _MENU_ 条记录",
							"sZeroRecords" : "没有数据！",
							"sEmptyTable" : "表中无数据存在！",
							"sInfo" : "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
							"sInfoEmpty" : "显示0到0条记录",
							"sInfoFiltered" : "数据表中共为 _MAX_ 条记录",
							"oPaginate" : {
								"sFirst" : "首页",
								"sPrevious" : "上一页",
								"sNext" : "下一页",
								"sLast" : "末页"
							}
						}
					});
				});
			}
		);
	}
//	$('#form1').submit();
}

//$('#submit').click(function(){
//	$('#start').val($('#starts').val());
//	$('#stop').val($('#stops').val());
//	$('#form1').submit();
//});


</script>
{% endblock %}
