{% extends 'admin/layout/layout.html' %}
{% block content %}
<div class="page-content">
	<div class="page-content-area">
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal" role="form" id="form">
						<div class="form-group">
								<label class="col-sm-3 control-label
                                no-padding-right" for="form-name">名称</label>
								<div class="col-sm-9">
                                    <input type="text" id="form-name"
                                     placeholder="名称" class="col-xs-10 col-sm-5"
                                                         name="name">
								</div>
                        </div>
						<div class="space-4"></div>	
						<div class="form-group">
								<label class="col-sm-3 control-label
                                no-padding-right" for="form-parent">父级</label>
								<div class="col-sm-3">
                                    <select name="parentId" class="form-control"
                                                          id="form-parent"
                                                          data-placeholder="状态
                                                          ">
                                        <option value="0">一级菜单</option>
                                        {% for v in data.parentArr %}
                                        <option value="{{v.Id}}">{{v.name}}</option>
                                        {% endfor %}
                                    </select>
								</div>
                        </div>
						<div class="space-4"></div>	
						<div class="form-group">
								<label class="col-sm-3 control-label
                                no-padding-right" for="form-url">地址</label>
								<div class="col-sm-9">
                                    <input type="text" id="form-url"
                                     placeholder="地址" class="col-xs-10 col-sm-5"
                                                         name="url">
								</div>
                        </div>
						<div class="space-4"></div>	
						<div class="form-group">
								<label class="col-sm-3 control-label
                                no-padding-right" for="form-level">等级</label>
								<div class="col-sm-9">
                                    <input type="text" id="form-level"
                                     placeholder="等级" class="col-xs-10 col-sm-5"
                                                         name="level">
								</div>
                        </div>
						<div class="space-4"></div>	
						<div class="form-group">
								<label class="col-sm-3 control-label
                                no-padding-right" for="form-sort">排序</label>
								<div class="col-sm-9">
                                    <input type="text" id="form-sort"
                                     placeholder="排序" class="col-xs-10 col-sm-5"
                                                         name="sort">
								</div>
						</div>
						<div class="space-4"></div>	
						<div class="form-group">
								<label class="col-sm-3 control-label
                                no-padding-right" for="form-status">状态</label>
								<div class="col-sm-3">
                                    <select name="status" class="form-control"
                                                          id="form-status"
                                                          data-placeholder="状态
                                                          ">
                                        <option value="1">开启</option>
                                        <option value="0">关闭</option>
                                    </select>
								</div>
                        </div>
						<div class="space-4"></div>	
						<div class="form-group">
								<label class="col-sm-3 control-label
                                no-padding-right" for="form-icon">图标</label>
								<div class="col-sm-3">
									<input type="text" name="menuIcon" id="icons" class="col-xs-10 col-sm-5" />
								</div>
                        </div>
						<div class="space-4"></div>	
					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="button" onclick="input(1)">
								<i class="ace-icon fa fa-check bigger-110"></i>
                                添加
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset" onclick="input(2)">
								<i class="ace-icon fa fa-undo bigger-110"></i>
                                重置
							</button>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
</div>
<script src="/js/jquery/jquery-2.1.1.min.js"></script>
<script src='/js/jquery.mobile.custom.min.js'></script>
<script src="/js/bootstrap/3.2.0/bootstrap.min.js"></script>
<script src="/js/jquery-ui.custom.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/icon.picker.js"></script>
<script type="text/javascript">
function input(type){
	if(type==1){
		$.post(
			"{{data.formaction}}",
			$("#form").serialize(),
			function(d){
				if(d.code==2){
					alert('信息未填写完整');
					return false;	
				}else if(d.code==1){
					alert('添加成功');
					window.location.href= "{{data.formrefer}}"
				}
			},"json"
		);
	}else{
		//重置
		document.getElementById("form").reset();
		return false;
	}
}
$(function () {
	$("#icons").iconPicker();
});
</script> 
{% endblock %}	
				
