{% extends 'index/layout/layout.html' %}
{% block content %}
<article>
    <header class="entry-header page-header">
        <img src="" class="thumbnail" alt="" >
        <h1 class="entry-title ">{{data.title}}</h1>
        <div class="entry-meta">
            <span class="posted-on">
                <i class="fa fa-calendar"></i> 
                <a href="#">
                <time class="entry-date published" datetime="{{data.publish}}">{{data.publish|date("Y-m-d")}}</time>
                </a>
            </span>
            <!--<span class="byline"> 
                <i class="fa fa-user"></i> 
                <span class="author vcard">
                <a href=""></a>
                </span>
            </span>-->
        </div>
    </header>
    <div class="entry-content" id="tc">
    </div>
	<span id="hc" style="display:none">
		{%autoescape false%}	
		{%spaceless%}
		{{data.content|escape}}
		{%endspaceless%}
		{%endautoescape%}
	</span>
    <hr>
</article>
<script>
	window.onload= function(){
		document.getElementById('tc').innerHTML = document.getElementById('hc').innerText;	
	};
</script>
{% endblock %}
