{% extends 'admin/layout/layout.html' %}
{% block content %}
<link  href="/cropper/css/cropper.css" rel="stylesheet">
<link  href="/cropper/css/main.css" rel="stylesheet">
<div class="page-content">
	<div class="page-content-area">
		<div class="row">
			<div class="col-xs-12">
					<table class="table table-striped table-bordered table-hover">
						<tr>
							<td class="col-xs-8">
								<div class="thumbnail" style="width:600px;600px;">
									<img src="{{data.img_show}}" id="image">
								</div>
								<div class="docs-buttons">
									<div class="btn-group">
										<button class="btn btn-sm btn-xs btn-info" data-method="setDragMode" data-option="move">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-arrows"></span>
											</span>
										</button>
										<button class="btn btn-sm btn-xs btn-info" data-method="setDragMode" data-option="crop">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-crop"></span>
											</span>
										</button>
									</div>
									<div class="btn-group">
										<button class="btn btn-sm btn-xs btn-info" data-method="zoom" data-option="0.1">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-search-plus"></span>
											</span>
										</button>
										<button class="btn btn-sm btn-xs btn-info" data-method="zoom" data-option="-0.1">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-search-minus"></span>
											</span>
										</button>
									</div>
									<div class="btn-group">
										<button class="btn btn-sm btn-xs btn-info" data-method="move" data-option="-10" data-second-option="0">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-arrow-left"></span>
											</span>
										</button>
										<button class="btn btn-sm btn-xs btn-info" data-method="move" data-option="10" data-second-option="0">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-arrow-right"></span>
											</span>
										</button>
										<button class="btn btn-sm btn-xs btn-info" data-method="move" data-option="0" data-second-option="-10" title="Move Up">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-arrow-up"></span>
											</span>
										</button>
										<button class="btn btn-sm btn-xs btn-info" data-method="move" data-option="0" data-second-option="10">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-arrow-down"></span>
											</span>
										</button>
									</div>
									<div class="btn-group">
										<button class="btn btn-sm btn-xs btn-info" data-method="rotate" data-option="-45">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-rotate-left"></span>
											</span>
										</button>
										<button class="btn btn-sm btn-xs btn-info" data-method="rotate" data-option="45">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-rotate-right"></span>
											</span>
										</button>
									</div>
									<div class="btn-group">
										<button class="btn btn-sm btn-xs btn-info" data-method="scaleX" data-option="-1">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-arrows-h"></span>
											</span>
										</button>
										<button class="btn btn-sm btn-xs btn-info" data-method="scaleY" data-option="-1">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-arrows-v"></span>
											</span>
										</button>
									</div>
									<div class="btn-group">
										<button class="btn btn-sm btn-xs btn-success" data-method="reset">
											<span class="docs-tooltip" data-toggle="tooltip">
												<span class="fa fa-refresh"></span>
											</span>
										</button>
									</div>
								</div>
								<div class="docs-toggles">
									宽高比
									<div class="btn-group btn-group-justified" data-toggle="buttons">
										<label class="btn btn-sm btn-xs btn-info active">
											<input type="radio" class="sr-only" id="aspectRatio0" name="aspectRatio" value="1.77">
											<span class="docs-tooltip" data-toggle="tooltip">
												16:9
											</span>
										</label>
										<label class="btn btn-sm btn-xs btn-info">
											<input type="radio" class="sr-only" id="aspectRatio1" name="aspectRatio" value="1.33">
											<span class="docs-tooltip" data-toggle="tooltip">
												4:3
											</span>
										</label>
										<label class="btn btn-sm btn-xs btn-info">
											<input type="radio" class="sr-only" id="aspectRatio2" name="aspectRatio" value="1">
											<span class="docs-tooltip" data-toggle="tooltip">
												1:1
											</span>
										</label>
										<label class="btn btn-sm btn-xs btn-info">
											<input type="radio" class="sr-only" id="aspectRatio3" name="aspectRatio" value="0.66">
											<span class="docs-tooltip" data-toggle="tooltip">
												2:3
											</span>
										</label>
										<label class="btn btn-sm btn-xs btn-info">
											<input type="radio" class="sr-only" id="aspectRatio4" name="aspectRatio" value="NaN">
											<span class="docs-tooltip" data-toggle="tooltip">
												Free
											</span>
										</label>
									</div> 
								</div>

							</td>
							<td class="col-xs-4">
								<form class="form-horizontal" role="form" id="form">
								<div class="docs-preview clearfix">
									<div class="img-preview preview-lg"></div>
									<div class="img-preview preview-md"></div>
									<div class="img-preview preview-sm"></div>
									<div class="img-preview preview-xs"></div>
								</div>
								<div class="docs-data">
									<div class="input-group input-group-sm">
										<label class="input-group-addon" for="origin_width">原宽</label>
										<input readonly type="text" class="form-control" name="origin_width" value="{{data.img_width}}">
										<span class="input-group-addon">px</span>
									</div>
									<div class="input-group input-group-sm">
										<label class="input-group-addon" for="origin_height">原高</label>
										<input readonly type="text" class="form-control" name="origin_height" value="{{data.img_height}}">
										<span class="input-group-addon">px</span>
									</div>
									<div class="input-group input-group-sm">
										<label class="input-group-addon" for="dataWidth">现宽</label>
										<input readonly type="text" class="form-control" id="dataWidth" name="width">
										<span class="input-group-addon">px</span>
									</div>
									<div class="input-group input-group-sm">
										<label class="input-group-addon" for="dataHeight">现高</label>
										<input readonly type="text" class="form-control" id="dataHeight" name="height">
										<span class="input-group-addon">px</span>
									</div>
									<div class="input-group input-group-sm">
										<label class="input-group-addon" for="dataX">X点</label>
										<input readonly type="text" class="form-control" id="dataX" name="x">
										<span class="input-group-addon">px</span>
									</div>
									<div class="input-group input-group-sm">
										<label class="input-group-addon" for="dataY">Y点</label>
										<input readonly type="text" class="form-control" id="dataY" name="y">
										<span class="input-group-addon">px</span>
									</div>
									<div class="input-group input-group-sm">
										<label class="input-group-addon" for="dataRotate">旋转</label>
										<input readonly type="text" class="form-control" id="dataRotate" name="rotate">
										<span class="input-group-addon">度</span>
									</div>	
									<div class="input-group input-group-sm">
										<label class="input-group-addon" for="dataScaleX">ScaleX</label>
										<input readonly type="text" class="form-control" id="dataScaleX" name="scaleX">
									</div>
									<div class="input-group input-group-sm">
										<label class="input-group-addon" for="dataScaleY">ScaleY</label>
										<input  readonly type="text" class="form-control" id="dataScaleY" name="scaleY">
									</div>
									<input type="hidden" value="{{data.img_src}}" name="id">
								</div>
								<div>
									<button class="btn btn-sm btn-xs" type="button"  onclick="input(1)">
										提交
									</button>	
									<button class="btn btn-xs btn-sm" type="button" onclick="input(2)">
										重置 
									</button>
								</div>
								</form>
							</td>
						</tr>
					</table>
			</div>
		</div>
	</div>
</div>
<script src="/js/jquery/jquery-2.1.1.min.js"></script>
<script src='/js/jquery.mobile.custom.min.js'></script>
<script src="/js/bootstrap/3.2.0/bootstrap.min.js"></script>
<script src="/js/jquery-ui.custom.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<script src="/cropper/js/cropper.js"></script>
<script src="/cropper/js/main.js"></script>
<script type="text/javascript">
function input(type){
	if(type==1){
		$.post(
			"{{data.formaction}}",
			$("#form").serialize(),
			function(d){
				if(d.code==0){
					alert(d.msg);
					return false;	
				}else if(d.code==1){
					alert(d.msg);
					window.location.href= "{{data.formrefer}}"
				}
			}
		,"json");
	}else{
		//重置
		document.getElementById("form").reset();
		return false;
	}
}
</script> 
{% endblock %}	
